.top-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2, h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
nav {
    display: inline;
}
h2 {
    border: 5px solid goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}